.parallax {
    /* The image used */
    background: url('https://media.licdn.com/dms/image/D4E16AQEMI1xmAtaEUw/profile-displaybackgroundimage-shrink_350_1400/0/1673188621555?e=1684368000&v=beta&t=VCwGjRLcR-i7bt8OepR9ME8nSedbtJdxChiLkKZz7Bw');
  
    /* Full height */
    height: 50%; 
  
    /* Create the parallax scrolling effect */

  }
  .persentation {
    background: rgb(167,167,170);
    background: linear-gradient(90deg, rgba(167,167,170,1) 0%, rgba(27,26,26,1) 0%, rgba(25,36,70,1) 33%, rgba(27,30,66,1) 64%, rgba(0,0,0,1) 100%);
    background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-blend-mode: overlay;
  }