@tailwind base;
@tailwind components;
@tailwind utilities;


 :root {
max-width: 100vw;
max-height: 100vh; 
scroll-behavior: smooth;
}
.shadowBox {
  box-shadow:
  2.4px 1.5px 1.2px rgba(156, 156, 156, 0.61),
  6.5px 4.1px 3.4px rgba(108, 108, 108, 0.397),
  15.7px 9.9px 8.1px rgba(0, 0, 0, 0.305),
  52px 33px 27px rgba(0, 0, 0, 0.213)
;
}
.presentationShadow {
  box-shadow:
  0px 1.2px 0.5px -12px rgb(82, 82, 82),
  0px 3.3px 1.4px -12px rgba(78, 78, 78, 0.819),
  0px 7.8px 3.3px -12px rgba(89, 89, 89, 0.621),
  0px 26px 11px -12px rgba(57, 57, 57, 0.291)
;
}
.projectShadow {
  box-shadow:
  -39px 46.6px 0px rgba(0, 0, 0, 0.08),
  68.5px 81.7px 0px rgba(0, 0, 0, 0.06),
  -93px 111.2px 0px rgba(0, 0, 0, 0.053),
  115px 137px 0px rgba(0, 0, 0, 0.044)
;
rotate: 0, 1, 0, 60deg;
}