@tailwind base;
@tailwind components;
@tailwind utilities;


 :root {
max-width: 100vw;
max-height: 100vh; 
font-family: var(--font-cantarell)
}
.linear {
  background: rgb(167,167,170);
  background: linear-gradient(90deg, rgba(167,167,170,1) 0%, rgba(27,26,26,1) 0%, rgba(25,36,70,1) 33%, rgba(27,30,66,1) 64%, rgba(0,0,0,1) 100%);
}
