.shadow-text {
    box-shadow:
  0px -3.8px 38.4px rgba(255, 255, 255, 0.461),
  0px -3.8px 84.3px rgba(0, 0, 0, 0.482),
  0px 2.3px 140.2px rgba(0, 0, 0, 0),
  0px 20.9px 210.2px rgba(192, 187, 187, 0),
  0px 76.3px 302.4px rgba(90, 89, 89, 0.2),
  0px 91px 437px rgba(108, 108, 108, 0.47)
;
background-blend-mode: darken;
}
.nav {
    background: rgb(167,167,170);
background: linear-gradient(90deg, rgba(167,167,170,1) 0%, rgba(27,26,26,1) 0%, rgb(35, 43, 67) 33%, rgb(35, 37, 63) 64%, rgba(0,0,0,1) 100%);
}